---
---

// @import url("//fonts.googleapis.com/css?family=Open+Sans:400,700&subset=greek,latin");
// @import url("//fonts.googleapis.com/css?family=Ubuntu+Condensed");
// @import url("//fonts.googleapis.com/css?family=Ubuntu+Condensed");
@import url('//fonts.googleapis.com/css?family=Nova+Mono');

@import "vendor/bootstrap/bootstrap";
@import "vendor/slick";
@import "vendor/slick-theme";


html {
  font-family: 'Nova Mono', sans-serif;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

@media (min-width: 1200px) {
  .container {
    width: 1500px;
  }
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
Author's custom styles
========================================================================== */


body {
  background: #FFF;
  color: #333;
  background: url("/img/green.jpg") fixed;
  background-size: cover;
  // padding-top: 5px;
}

.container {
  padding: 0;
  border-left: 15px solid rgba(#000, .2);
  border-right: 15px solid rgba(#000, .2);
}

header {
  background: url("/img/chalkboard.jpg");
  background-size: cover;
  padding: 30px 50px;
}

.logo {
  // width: 350px;
  // max-width: 80%;
  // margin: 0 auto 150px;
  // margin: 30px;
  // display: block;
  // position: relative;
  // z-index: 2;
}

.intro {
  font-weight: bold;
  background-image: url("/img/chalkboard.jpg");
  /*max-width: 600px;*/
  /*margin: 50px auto;*/
  // padding: 85px 0;
  height: 600px;
  position: relative;
  overflow: hidden;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  div {
    position: absolute;
    top: 0;
    left: 0;
    height: 598px;
    width: 100%;
    z-index: 1;
    background-size: cover;
    background-position: center;
  }
}

.text-top {
  font-family: 'Nova Mono', sans-serif;
  background: url("/img/chalkboard.jpg") bottom;
  background-size: cover;
  border-bottom: 2px solid #000;
  line-height: 2;
  font-size: 1.4em;
  color: #ffffe0;
  margin: 0 auto;
  padding: 50px 15px;
  text-align: center;
}

// .text1 {
//   background: url("/img/bg-dark.png") fixed;
//   border-bottom: 2px solid #FFF;
//   p {
//     line-height: 1.6;
//     font-size: 2em;
//     color: #FFF;
//     margin: 0 auto;
//     padding: 100px;
//     max-width: 800px;
//     @include media-breakpoint-down(sm) {
//       font-size: 1.3em;
//       padding: 50px;
//     }
//   }
// }
//
// .text2 {
//   background: url("/img/bg-dark.png") fixed;
//   border-top: 2px solid #FFF;
//   border-bottom: 2px solid #FFF;
//   p {
//     line-height: 2;
//     font-size: 1.3em;
//     color: #FFF;
//     margin: 0 auto;
//     padding: 50px;
//     max-width: 800px;
//   }
// }

.photos {
  overflow: hidden;
  > div {
    width: 25%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 1px #FFF;
    float: left;
  }
}

.img1 {
  background-image: url("/img/26321564591_45b4cbd2bf_k_x.jpg");
}
// .img2 {
//   background-image: url("/img/26361267566_32ea855562_k.jpg");
// }
.img3 {
  background-image: url("/img/26254937335_8cd961726b_k_x.jpg");
}
// .img4 {
//   background-image: url("/img/26294937522_5fb019e3b7_k.jpg");
// }
.img5 {
  background-image: url("/img/24603315304_82e6f8271a_k_x.jpg");
}
// .img6 {
//   background-image: url("/img/25653604983_c5ee73427e_k.jpg");
// }
// .img7 {
//   background-image: url("/img/25115653832_f36f9172ff_k.jpg");
// }
.img8 {
  background-image: url("/img/26113747930_686f33bed2_k_x.jpg");
}
// .img9 {
//   background-image: url("/img/26113488820_aa3a4a6695_k.jpg");
// }
// .img10 {
//   background-image: url("/img/26190093491_413872a647_k.jpg");
// }
// .img11 {
//   background-image: url("/img/25784494413_d900379ef1_k.jpg");
// }
// .img12 {
//   background-image: url("/img/25207892046_2c0ed16f0a_k.jpg");
// }
// .img13 {
//   background-image: url("/img/24938213760_2550cd48be_k.jpg");
// }
.img14 {
  background-image: url("/img/26229513566_57103b1c8c_k_x.jpg");
}
.img15 {
  background-image: url("/img/25652151093_ea726f177d_k_x.jpg");
}
// .img16 {
//   background-image: url("/img/26190093491_413872a647_k.jpg");
// }

.btn-order {
  font-family: 'Nova Mono', sans-serif;
  font-size: 2.5em;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  color: #d22500;
  position: relative;
  margin-top: 35px;
  z-index: 2;
  @include media-breakpoint-down(sm) {
    font-size: 1.6em;
  }
  .small {
    font-size: 1.2rem;
    color: #ffffe0;
    display: block;
    max-width: 515px;
  }
}

// .btn-order2 {
//   font-size: 1.2em;
//   font-weight: bold;
//   display: inline-block;
//   cursor: pointer;
//   position: relative;
//   padding: 0 10px;
//   color: #FFF;
//   position: relative;
//   z-index: 2;
// }

// .btn-order:hover {
// }
//
// .btn-order::before,
// .btn-order::after {
//   content: "";
//   display: block;
//   position: absolute;
//   height: 2px;
//   width: 70%;
//   left: 15%;
//   background: #FFF;
//   transition: all .5s;
// }
//
// .btn-order::before {
//   top: 0;
// }
//
// .btn-order::after {
//   bottom: 0;
// }
//
// .btn-order:hover::before,
// .btn-order:hover::after {
//   left: 0;
//   width: 100%;
// }

footer {
  font-family: 'Nova Mono', sans-serif;
  text-align: center;
  font-size: 1em;
  line-height: 2;
  background: url("/img/chalkboard.jpg") bottom;
  background-size: cover;
  padding: 100px 30px;
  color: #ffffe0;
}

.app-stores a {
  text-decoration: none !important;
  color: #ffffe0;
}

.app-stores img {
  margin: 10px 0;
  max-width: 100%;
  max-height: 150px;
}

// .menu {
//   border-top: 2px solid #FFF;
// }
//
// .menu-section {
//   max-width: 1180px;
//   margin: 0 auto;
//   padding-top: 100px;
//   position: relative;
//   h3 {
//     font-family: 'Ubuntu Condensed', sans-serif;
//     font-size: 2.5em;
//     display: inline-block;
//     margin-bottom: 40px;
//     padding: 0 20px;
//     background: url("/img/bg.png") fixed;
//     &::after {
//       content: "";
//       display: block;
//       width: 98%;
//       position: absolute;
//       top: 120px;
//       left: 1%;
//       border-bottom: 3px solid #333;
//       z-index: -1;
//     }
//   }
// }

// .recipe {
//   white-space: nowrap;
//   overflow: hidden;
//   position: relative;
//   strong {
//     text-overflow: ellipsis;
//     max-width: 330px;
//     white-space: nowrap;
//     overflow: hidden;
//     padding: 10px;
//     float: left;
//     display: inline-block;
//     background: url("/img/bg.png") fixed;
//   }
//   .price {
//     padding: 10px;
//     float: right;
//     display: inline-block;
//     background: url("/img/bg.png") fixed;
//   }
//   &::after {
//     position: absolute;
//     content: "";
//     display: inline-block;
//     width: 100%;
//     border-bottom: 1px dotted #a2a2a2;
//     left: 0;
//     bottom: 16px;
//     z-index: -1;
//   }
// }

.map {
  border-bottom: 2px solid #000;
}

// .special {
//   display: block;
//   height: 600px;
//   background: url("/img/friday-night.jpg") 50% 0;
//   border-bottom: 2px solid #FFF;
// }

.nowrap {
  white-space: nowrap;
}
