

<div class="row">
  <div class="col-2">
    <img src="/assets/icon-home.svg" alt="" class="icon">
  </div>
  <div class="col-10">
    Χαϊνά 60, 34100, Χαλκίδα
  </div>
</div>

<div class="row mt-4">
  <div class="col-2">
    <img src="/assets/icon-phone.svg" alt="" class="icon">
  </div>
  <div class="col-10">
    222 1089 077<br>
    693 1234 081 - What's Up
  </div>
</div>

<div class="row mt-4">
  <div class="col-2">
    <img src="/assets/icon-clock.svg" alt="" class="icon">
  </div>
  <div class="col-10">
    <strong>Διανομή κατ' οίκον</strong><br>
    Δευτέρα - Παρασκευή<br>12.00 - 18.00<br>
    Σάββατο<br>12.00 - 17.00<br>
    Κυριακή κλειστά
  </div>
</div>

<div class="row mt-4">
  <div class="col-2">
    <img src="/assets/icon-arrow.svg" alt="" class="icon">
  </div>
  <div class="col-10">
    <span class="btn btn-dark btn-order" data-glf-cuid="99c407c2-9a73-4089-b6d4-82541c3af76a" data-glf-ruid="69051775-f3cc-40fb-b882-361ffa6c6b4f" data-glf-auto-open="false" id="glfButton0">
      Online Παραγγελίες
    </span>
  </div>
</div>

<div class="row mt-4">
  <div class="col-2">
    <img src="/assets/icon-fb.svg" alt="" class="icon">
  </div>
  <div class="col-10">
    <a href="https://www.facebook.com/kouzinaapospiti/" class="text-dark">facebook.com/kouzinaapospiti</a>
  </div>
</div>
