

<section class="section-3 d-flex align-items-center">
  <div class="container">

    <div class="row">

      <div class="col-md-7 text-white" style="padding-bottom:200px;">
        <img src="/assets/logo-secondary.svg" alt="Κουζίνα από ΣΠΙΤΙ" class="mb-5">
        <p>
          Αναρωτηθήκατε ποτέ ποια είναι η διαφορά του σπιτικού φαγητού από οποιαδήποτε άλλη επιλογή;<br>
          Εμείς ναι!
        </p>
        <p>
          Δεν είναι μόνο οι ποιοτικές πρώτες ύλες.<br>
          Δεν είναι μόνο η καθαριότητα και η υγιεινή στο χώρο της κουζίνας.<br>
          Δεν είναι μόνο η σωστή εκτέλεση των συνταγών.<br>
          Είναι πολύ απλά, η καθημερινή συνέπεια στο στόχο του να προσφέρεις στους ανθρώπους που αγαπάς, τις ποιοτικές γεύσεις που τους αξίζουν.
        </p>
        <p>
          Αυτό σημαίνει σπιτικό φαγητό και με αυτή τη φιλοσοφία η Ναταλί και ο Μιχάλης, σας το προσφέρουν με συνέπεια για πάνω από επτά χρόνια!
        </p>
        <p>
          Με έως και 30 γευστικές επιλογές κάθε μέρα, η <strong>Κουζίνα από ΣΠΙΤΙ</strong> αποτελεί σημείο αναφοράς για καλό σπιτικό, γευστικό και υγιεινό φαγητό.
        </p>
        <h3 class="mt-4">Με προτάσεις<br>μαγειρευτών αλλά και της ώρας,</h3>
        <p>
          η δυνατότητα να απολαύσετε ένα υγιεινό και χορταστικό γεύμα με προσεκτικά επιλεγμένες πρώτες ύλες από τοπικούς προμηθευτές και τη στιγμή που το θέλετε, είναι πιο εύκολη από ποτέ!
        </p>
        <h3 class="mt-4">Απολαύστε γνώριμες γεύσεις<br>της ελληνικής κουζίνας</h3>
        <p>
          αλλά και πιάτα με φαντασία που σας οδηγούν σε νέους γευστικούς δρόμους και χωρίς διατροφικές ενοχές.
        </p>
        <h3 class="mt-4">Οι λάτρεις της vegan διατροφής</h3>
        <p>
          θα ανακαλύψουν όχι μόνο κλασσικά πιάτα λαδερών και οσπρίων αλλά και προτάσεις φαγητών από ευεργετικά για τον οργανισμό προϊόντα, όπως φαγόπυρο, κινόα, προϊόντα ζέας κ.ά.
        </p>
        <p>
          Απολαύστε τις γεύσεις μας στο ζεστό χώρο του εστιατορίου νιώθοντας σαν το σπίτι σας ή στο δικό σας χώρο με ένα απλό τηλεφώνημα!
        </p>
      </div>

      <div class="col-md-4 ml-auto d-flex align-items-end flex-column">
        <img src="/assets/footer-promo.svg" alt="" class="mb-5">
        <div class="mt-auto footer-card">
          {% include contact-details.html %}
        </div>
      </div>

    </div>

  </div>
</section>
