

<section class="section-2 d-flex align-items-center">
  <div class="container">

    <div class="card-columns">

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-mon.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-tue.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-wed.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-thu.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-fri.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-sat.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-baked.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-salads.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-drinks.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-sweets.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-notes.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body text-center">
          <img src="/assets/menu-bread.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <img src="/assets/menu-prices.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>

  </div>
</section>
